{% extends 'layout/layout.twig' %}

{% block subtitle %}Home{% endblock %}

{% block description %}Homepage of the Pam-App project{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <h2>Introduction</h2>

            <p>This project is a template to start a Web application with the Pam microframework...</p>
            <p>You will find the documentation <a href="https://github.com/philippebeck/pam-app/wiki">here</a>...</p>
            <p>Don't hesitate to send <a href="https://github.com/philippebeck/pam-app/issues">issues</a> or <a href="https://github.com/philippebeck/pam-app/pulls">pull requests</a>, I will watch them with interest...</p>
        </section>

        <section>
            <h2>Demonstration</h2>

            <p>The example users are :</p>
            <ul>
                {% for user in allUsers %}
                    <li>
                        {{ user.name }} <hr> {{ user.email }}
                    </li>
                {% endfor %}
            </ul>
            <!--<div id="recaptcha" class="g-recaptcha" data-sitekey="your-site-key"></div>-->
        </section>
    </main>
{% endblock %}
